.container-block {
  max-width     : 60em;
  display       : flex;
  flex-direction: column;
  margin-left   : auto;
  margin-right  : auto;
}

.text-center {
  text-align: center;
}

.container {
  padding: var(--theme-gutter);
}

.list-item-theme-decoration {
  position: relative;
  z-index : 0;

  &::before {
    content         : '';
    position        : absolute;
    height          : 2px;
    width           : 1.5em;
    background-color: var(--theme-secondary-color);
    top             : 0;
  }
}

.list.row {
  display        : flex;
  justify-items  : center;
  justify-content: space-around;
}
