*,
*:before,
*:after {
  box-sizing: border-box;
  margin    : 0;
}

html {
  font-family             : var(--theme-font-main);
  font-size               : 16px;
  word-spacing            : 1px;
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
  box-sizing              : border-box;
}

@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}
